SECRET_KEY="change_me"
DEBUG="1"  # 1 = True | 0 = False
ALLOWED_HOSTS="change_me,change_me,change_me"
CSRF_TRUSTED_ORIGINS="https://change.me,https://change.me,https://change.me"
ADMIN_PANEL_PATH="change_me"
POSTGRES_DB="change_me"
POSTGRES_USER="change_me"
POSTGRES_PASSWORD="change_me"
REDIS_URL="redis://redis:6379/0"
CLOUDFLARE_TOKEN="change_me"