PROJECT_NAME="finflow"  # nome unico por site no servidor (prefixa containers, rede e volumes)
SECRET_KEY="change_me"
DEBUG="0"  # 1 = True | 0 = False
ALLOWED_HOSTS="change_me,change_me,change_me"
CSRF_TRUSTED_ORIGINS="https://change.me,https://change.me,https://change.me"
ADMIN_PANEL_PATH="change_me"
POSTGRES_DB="change_me"
POSTGRES_USER="change_me"
POSTGRES_PASSWORD="change_me"
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
REDIS_URL="redis://redis:6379/0"
CLOUDFLARE_TOKEN="change_me"
OPENAI_API_KEY="change_me"
OPENAI_MODEL="change_me"